<div class="center mt-5">
  <figure>
    <img *ngIf="!isHiden" [src]="image.url" [alt]="text" [title]="image.alt" [hidden]="isHiden" />
    <figcaption class="d-flex">{{text}}</figcaption>
  </figure>
</div>


<div class="center mt-2 flex-column">
  <button class="btn btn-outline-info btn-lg w-25" type="button" (click)="toggle()">Click</button>
  <div class="btn mt-2">
    <input class="form-control-lg p-lg-2 border border-success" type="text" [(ngModel)]="text"
      placeholder="start writing....">
  </div>
</div>